.panel-login{
    position: relative;
    background: #f9f9f9;
    padding: 3.474337872213077rem 5.985335926978902rem 5.985335926978902rem;
    color: #111;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.header{
    color: red;
    margin-bottom: 5rem;
}
::ng-deep .asl-google-signin-button{

    /*Add your custom css property value.*/
    background-color: red;
    width: 300px;
    height: 300px;
    }
    .nsm7Bb-HzV7m-LgbsSe Bz112c-LgbsSe pSzOP-SxQuSe i5vt6e-Ia7Qfc uaxL4e-RbRzK{
        width: 400px;
        height: 400px;
    }