<div class="row justify-content-center">
    <div class="col-12 col-xl-4">
    <div class="justify-content-center"><div class="panel-login"><h5 class="header mb-5">Iniciar sesión</h5><label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"><label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"></div></div>
        <div id="my-signin2"></div>
    </div>
</div>

