.card{
    background-color: rgba(17,17,17,0.75);
    color: #fff;
    padding: 20px;
}
.imagen_titulo{
    width: 100px;
    transition:width 2s;
  }
  .imagen_titulo:hover{
    width: 300px;
  }
  .text-end{
    float: right;
  }
  .contenido{
    font-size: 12px;
  }
  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
  }
  a:focus{
    text-decoration: none;
  }
  a:visited{
    text-decoration: none;
  }
  .noticia:hover{
    cursor: pointer;
  }