*{
  font-size: 1.375rem;
  text-transform:none;
  color: white;
}
.noticia{
  flex-wrap: wrap;
}
.card{
    background-color: rgb(255 255 255 / 55%);
    color: #fff;
    padding: 20px;
    color: black;
}
.card-imagen{
  flex: 0 1 100%;
}
.imagen_titulo{
    width: 100px;
    transition:width 2s;
  }
  .imagen_titulo:hover{
    width: 300px;
  }
  .text-end{
    float: right;
  }
  .contenido{
    font-size: 17px;
  }
  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
  }
  a:focus{
    text-decoration: none;
  }
  a:visited{
    text-decoration: none;
  }
  .noticia:hover{
    cursor: pointer;
  }
  .link{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-decoration: none;
    user-select:none;
}
.link:hover {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    font: inherit;
    cursor: pointer;
    text-shadow: 0 0 10px #83ea39, 0 0 20px #83ea39, 0 0 40px #83ea39;
    text-decoration: none;
    user-select:none;
}
.boton-noticia{
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 150px;
  height: 20px;
  background-color: rgba(17,17,17,0.75);
    color: #fff;
    padding: 20px;
}

.columna-lado{
  background-color: #0f1320f2;
  border: 0.5px solid #917321e0;
  border-radius: 5px;
  color: white;
}
.ultimosregisrados{
  color: white;
  border: 1px solid black;
}
.ultimosregisrados a{
  color: white;
}
.imagen-lado{
  width: 200px;
  height: 140px;
}
@media screen and (min-width: 60em) {
  .columna-lado{
    margin-left: 11rem;
  }
}