<!--
<div class="container-fluid fondo">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/users" class="btn btn-info">List Users</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
-->

<div class="container-fluid w-100 text-center fondo">
  <div class="row bordes d-flex align-items-center fila text-center"> <a routerLinkActive="active" routerLink="" class="w-auto link">Jugadores Bahía Blanca</a>
    <span class="w-25">
      <div class="input-group d-flex align-items-center">
        <input (keyup.enter)="buscar(invocadortexto)" #invocadortexto id="invocadortexto" name="invocadortexto" ngModel
          class="form-control border-end-0 bordes" type="text" placeholder="buscar invocador" id="example-search-input">
          <a (click)="buscar(invocadortexto)"
            class="link mx-2 ms-n3">
            <i class="fa-solid fa-magnifying-glass"></i><span>Buscar</span>
            <span>{{user}}</span>
        </a>
        <a href="" class="link">Test</a>
      </div>
    </span>
    <span class="w-auto ms-auto">
      <a *ngIf="!authenticated()" routerLink="/login" class="ms-auto link">Login</a>
      <a *ngIf="authenticated()" class="ms-auto link">Usuario: {{usuario}}</a>
    </span>
  </div>
  <div class="row d-flex justify-content-center">

    <div class="mx-auto my-2" style="width:60%;border: 1px solid rgba(0, 0, 0, 0.329);" *ngIf="!error">
      <div *ngIf="nombreInvocador" class="buscador">
        <div *ngIf="showSpinner" class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="text-start" *ngIf="nombreInvocador">{{nombreInvocador}}</div>
        <div class="text-start" *ngIf="nivel">{{nivel}}</div>
        <img class="text-start rounded float-start rounded-circle" style="width:50px;height:50px;" *ngIf="profileIconId"
          src="https://cdn.communitydragon.org/12.13.1/profile-icon/{{profileIconId}}">
        <div class="text-center" *ngIf="!esBahiense">El usuario no esta registrado como jugador de Bahía Blanca. Si
          usted es <span class="text-danger">{{nombreInvocador}}</span> y desea registrarse haga click <a
            href="#">aquí</a>.</div>
      </div>
    </div>
    <div class="mx-auto my-2 buscador" style="width:60%;border: 1px solid rgba(0, 0, 0, 0.329);" *ngIf="error">
      <div *ngIf="showSpinner" class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="text-start error"><img src="../assets/imagenes/porozzz.gif">{{mensajeError}}</div>
    </div>
  </div>


<!--body-->


  <div class="row">
    <div class="col-xl-12 bg-dark h-auto fondo my-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

