<div class="container-fluid">
<div class="bg-dark">
    <img src="../assets/imagenes/{{division+'40x40'}}.png">
    <h3>{{division}}</h3>
<div class="table-responsive">
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" style="width: 500px;">Invocador</th>
        <th scope="col">División</th>
        <th scope="col">LP</th>
        <th scope="col">Nivel</th>
        <th scope="col">Verificado</th>
        <th scope="col">Localidad</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><a href=""><div><strong style="
            height: 100%;">Invocador 1</strong></div></a></td>
        <td>Challenger</td>
        <td>1040</td>
        <td>500</td>
        <td>No</td>
        <td>Bahia Blanca</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Invocador 2</td>
        <td>Challenger</td>
        <td>1040</td>
        <td>500</td>
        <td>No</td>
        <td>Punta Alta</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Invocador 3</td>
        <td>Challenger</td>
        <td>1040</td>
        <td>500</td>
        <td>No</td>
        <td>Cerri</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>