/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "OpenSans";
    src: url(./assets/fonts/OpenSans-Italic.ttf) format("opentype");
}
*{
    font-family: "OpenSans";
    font-size: 14px;
    box-sizing: border-box;
    
}
html,body {
  padding : 0px !important;
  margin:0 !important;
  height: 100%;
    
  }
  footer{width: 100%;height: 200px;}
table td th input {
    width: auto !important;
  }
  .titulo{
    color:white;
  }
  .contenido{
    font-size: 9px;
  }
  .fondo{
    background: url("https://cdna.artstation.com/p/assets/images/images/045/739/830/large/terence-cantal-season-start-key-art.jpg?1660588098");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .bordes{
    margin-bottom: 2px;
  }
  .btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn-primary {
    color: rgb(247, 0, 0);
    background-color: #00b3db;
    border-color: #285e8e; /*set the color you want here*/

}
table.speaker-list {
    table-layout: fixed;
  }
.footer-content{
  height: 100px;
}
.fa-square-facebook, .fa-square-instagram{
  font-size: 40px;
}
.fa-square-facebook:hover, .fa-square-instagram:hover{
  font-size: 40px;
  color:#e92f40;
}
.fila{
  background-color: rgba(17,17,17,0.75);
  color: #fff;
  height: 64px;
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}

#content {
  height: 2000px;
}
