

<div class="col-sm-6">
    <div class="search-box">
        <div class="input-group">								
            <input type="text" id="search" class="form-control" placeholder="Search by Name">
            <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Titulo</th>
        <th scope="col">Contenido</th>
        <th scope="col">Autor</th>
      <th scope="col">Fecha de creación</th>
          <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let noticia of noticias">
        <td>{{noticia.id}}</td>
        <td>{{noticia.titulo}}</td>
            <td><div class="scrollable">{{noticia.contenido}}</div></td>
            <td>{{noticia.autor.nombre}}</td>
          <td>{{noticia.fecha_creacion}}</td>
          <td class="mx-2">
            <button type="button" class="btn btn-info" title="Edit" data-bs-toggle="tooltip" data-bs-placement="bottom" (click)="open(content,noticia.id)">Editar</button>
            <button type="button" class="btn btn-danger" title="Eliminar" data-bs-toggle="tooltip" data-bs-placement="bottom">Eliminar</button></td>
      </tr>
    </tbody>
  </table>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group row">
          <label for="inputNoticia" class="col-sm-2 col-form-label">Titulo</label>
          <div class="col-sm-10">
            <input [(ngModel)]="noticia.titulo" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="inputNoticia" placeholder="Titulo">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputContenido" class="col-sm-2 col-form-label">Contenido</label>
          <div class="form-floating">
            <textarea [(ngModel)]="noticia.contenido" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
          </div>
        </div>
        <fieldset class="form-group">
          <div class="row mt-5">
            <legend class="col-form-label col-sm-2 pt-0">Comentarios</legend>
            <div class="col-sm-12">
              <div class="form-check">
                <div class="list-group">
                  <li href="#" class="list-group-item active" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Autor</h5>
                      <small>3 days ago</small>
                      <input class="form-check-input" type="checkbox" id="gridCheck1">
                    </div>
                    <p class="mb-1">Comentario por autor</p>
                    <small>And some small print.</small>
                  </li>
                  <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">List group item heading</h5>
                      <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1">Some placeholder content in a paragraph.</p>
                    <small class="text-muted">And some muted small print.</small>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">List group item heading</h5>
                      <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1">Some placeholder content in a paragraph.</p>
                    <small class="text-muted">And some muted small print.</small>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="form-group row">
          <div class="col-sm-2">Checkbox</div>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck1">
              <label class="form-check-label" for="gridCheck1"> Example checkbox </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Sign in</button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
  
  <button class="btn btn-lg btn-outline-primary" (click)="open(content,2)">Launch demo modal</button>
  
  <hr />
  
  <pre>{{ closeResult }}</pre>